<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VBAR</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <main class="main">
        <div class="avatar-wrapper">
          <img src="./images/1.jpg" alt="Oleg" class="avatar" />
          <div class="person-wrapper">
            <span class="person-status">Online - </span>
            <h2 class="person-name">&nbsp;Олег</h2>
            <span class="person-age">, 19</span>
          </div>
        </div>
        <div class="main-body">
          <p class="person-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, modi dolorem nulla neque, ipsam voluptas
            accusamus aspernatur distinctio deserunt eveniet nisi dolores velit eum odit adipisci minima reprehenderit
            possimus optio vero iusto, animi mollitia blanditiis numquam! Mollitia, hic. Cupiditate ea vero, dicta nemo
            natus quaerat illum repellat, iusto fugiat consequatur dolorem facilis deserunt possimus? Commodi cum amet,
            quod nulla animi voluptatibus distinctio ullam magni aspernatur rerum tempore reiciendis voluptate modi
            exercitationem sunt culpa dolorem necessitatibus atque, temporibus asperiores delectus ut? Fugiat harum
            deleniti sunt alias! Dicta culpa blanditiis labore praesentium sed quod facere eum quaerat, adipisci ipsa,
            voluptate nam atque.
          </p>
          <ul class="person-chips person-tags">
            <li class="person-item person-item-tags"><span class="person-itemt-tags-text">Football</span></li>
            <li class="person-item person-item-tags"><span class="person-itemt-tags-text">CS:GO</span></li>
            <li class="person-item person-item-tags"><span class="person-itemt-tags-text">Sport</span></li>
            <li class="person-item person-item-tags"><span class="person-itemt-tags-text">Cars</span></li>
            <li class="person-item person-item-tags"><span class="person-itemt-tags-text">IT</span></li>
          </ul>
          <ul class="person-chips person-music">
            <li class="person-item person-item-music"><span class="person-item-music-text">LSP</span></li>
            <li class="person-item person-item-music"><span class="person-item-music-text">Kanye West</span></li>
          </ul>
        </div>
      </main>
      <nav id="menu" class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link" href="/profile"><i class="material-icons">account_circle</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/search"><i class="material-icons">search</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/chat"><i class="material-icons">chat</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/liked"><i class="material-icons">thumb_up</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/settings"><i class="material-icons">build_circle</i></a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
