<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>VBAR</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <main class="main">
        <div class="banner">
          <img src="./images/1.jpg" alt="Oleg" class="banner-img" />
          <div class="avatar-wrapper">
            <img src="./images/1.jpg" alt="Oleg" class="avatar" />
            <div class="person-wrapper">
              <h2 class="person-name">&nbsp;Олег</h2>
              <span class="person-age">, 19</span>
            </div>
          </div>
        </div>
        <div class="main-body">
          <section class="section section-about">
            <h4 class="section-title">Обо мне:</h4>
            <p class="person-about">
              Повседневная практика показывает, что сложившаяся структура организации требует от нас системного анализа
              ключевых компонентов планируемого обновления. Задача организации, в особенности же реализация намеченного
              плана развития требует от нас системного анализа системы обучения кадров, соответствующей насущным
              потребностям! Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
              создаёт предпосылки качественно новых шагов для системы масштабного изменения ряда параметров? Не следует,
              однако, забывать о том, что дальнейшее развитие различных форм деятельности в значительной степени
              обуславливает создание направлений прогрессивного развития?
            </p>
          </section>
          <section class="section section-interests">
            <h4 class="section-title">Интересы:</h4>
            <ul class="person-chips person-tags">
              <li class="person-item person-item-tags"><span class="person-item-text">Football</span></li>
              <li class="person-item person-item-tags"><span class="person-item-text">CS:GO</span></li>
              <li class="person-item person-item-tags"><span class="person-item-text">Sport</span></li>
              <li class="person-item person-item-tags"><span class="person-item-text">Cars</span></li>
              <li class="person-item person-item-tags"><span class="person-item-text">IT</span></li>
            </ul>
          </section>
          <section class="section section-music">
            <h4 class="section-title">Я слушаю:</h4>
            <ul class="person-chips person-music">
              <li class="person-item person-item-music"><span class="person-item-text">LSP</span></li>
              <li class="person-item person-item-music"><span class="person-item-text">Kanye West</span></li>
            </ul>
          </section>
        </div>
      </main>
      <nav id="menu" class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link" href="/profile"><i class="material-icons">account_circle</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/search"><i class="material-icons">search</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/chat"><i class="material-icons">chat</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/liked"><i class="material-icons">thumb_up</i></a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/settings"><i class="material-icons">build_circle</i></a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
