.gallery {
  width: 100%;
  display: flex;
  justify-content: center;

  &-item {
    display: flex;
    height: $maxImageHeight;
  }

  &-img {
    width: 100%;
    max-width: $maxImageWidth;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
