.main {
  & .avatar {
    width: 100%;
    height: $maxImageHeight;
    max-width: $maxImageWidth;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 20px 50px 0 $dark-10, 0 0 20px 0 $dark-25;

    &-wrapper {
      position: relative;
    }
  }

  & .banner {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    text-align: center;
    overflow: hidden;
    &-img {
      display: block;
      position: absolute;
      filter: blur(10px);
    }
  }

  & .person {
    &-wrapper {
      position: absolute;
      padding: 10px 20px;
      width: 100%;
      bottom: 0;
      color: $mainBg;
      box-shadow: inset 0px -60px 20px -15px rgba(0, 0, 0, 0.5);

      & > * {
        height: 80px;
        line-height: 120px;
        font-size: $xlFontSize;
        display: inline-block;
      }
    }

    &-about {
      font-size: $mFontSize;
      color: $textDark;
      word-spacing: 8px;
    }

    &-chips {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }

    &-item {
      height: $tagHeight;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark-25;
      border-radius: 10px;
      padding: 0 10px;
      user-select: none;
      white-space: nowrap;
      margin: 0 10px 10px 0;

      &-text {
        font-size: $sFontSize;
        font-weight: $bold;
        line-height: $tagHeight;
        color: $textDark;
      }
    }
  }

  &-body {
    width: 100%;
    padding: 30px 10px 70px;
    display: flex;
    flex-flow: column nowrap;

    .section {
      margin-bottom: $lFontSize;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-size: $lFontSize;
        margin-bottom: 0.5em;
      }
    }
  }
}
