.menu {
  z-index: 10;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 -5px 10px -5px $dark-25;

  &-list {
    font-size: 0;
    width: $menuWidth;
    height: 100%;
    display: flex;
  }

  &-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.133s ease-in-out;

    & > .material-icons {
      font-size: $menuIconSize;
      color: $iconDark;
    }

    &:hover,
    &:focus {
      background-color: $dark-10;
    }
  }

  &-item {
    flex: 1 1 60px;
    height: 100%;
    margin: 0 10px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
