@media screen and (min-width: $maxWidth) {
  .wrapper {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 50px auto 0;
  }

  .main-body {
    padding: 20px 50px 70px;
  }
}
