*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Montserrat, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
