// ~~~VARS-START~~~
$mainBg: #eff2f8;
$minWidth: 320px;
$maxWidth: 1200px;
$defHeight: 100vh;
$dark-25: rgba(0, 0, 0, 0.25);
$dark-10: rgba(0, 0, 0, 0.1);
$menuIconSize: 36px;
$iconDark: #1c2833;
$textDark: #2e343b;
$menuWidth: 600px;
// ~~~VARS-END~~~
