@import 'fonts';
@import 'reset';
@import 'vars';
@import 'menu';
@import 'main';

body {
  background-color: $iconDark;
}

.wrapper {
  position: relative;
  background-color: $mainBg;
  min-width: $minWidth;
  min-height: $defHeight;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 0 30px 0;
  box-shadow: 0 0 15px 3px $dark-25;
}

// @media
@import 'not_mobile';
