@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: Montserrat, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-weight: 200;
}

.menu {
  z-index: 10;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 769px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.25);
}

.menu-list {
  font-size: 0;
  width: 600px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: transparent;
  -webkit-transition: background-color 0.133s ease-in-out;
  transition: background-color 0.133s ease-in-out;
}

.menu-link > .material-icons {
  font-size: 36px;
  color: #1c2833;
}

.menu-link:hover, .menu-link:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60px;
          flex: 1 1 60px;
  height: 100%;
  margin: 0 10px 0 0;
}

.menu-item:last-child {
  margin-right: 0;
}

.main .avatar {
  width: 100%;
  height: 450px;
  max-width: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.main .avatar-wrapper {
  position: relative;
}

.main .banner {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.main .banner-img {
  display: block;
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.main .person-wrapper {
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  bottom: 0;
  color: #eff2f8;
  -webkit-box-shadow: inset 0px -60px 20px -15px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px -60px 20px -15px rgba(0, 0, 0, 0.5);
}

.main .person-wrapper > * {
  height: 80px;
  line-height: 120px;
  font-size: 28px;
  display: inline-block;
}

.main .person-about {
  font-size: 18px;
  color: #2e343b;
  word-spacing: 8px;
}

.main .person-chips {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.main .person-item {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  margin: 0 10px 10px 0;
}

.main .person-item-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #2e343b;
}

.main-body {
  width: 100%;
  padding: 30px 10px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main-body .section {
  margin-bottom: 24px;
}

.main-body .section:last-child {
  margin-bottom: 0;
}

.main-body .section-title {
  font-size: 24px;
  margin-bottom: 0.5em;
}

body {
  background-color: #1c2833;
}

.wrapper {
  position: relative;
  background-color: #eff2f8;
  min-width: 320px;
  min-height: 100vh;
  max-width: 769px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 769px) {
  .wrapper {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 50px auto 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .main-body {
    padding: 20px 50px 70px;
  }
}
/*# sourceMappingURL=style.css.map */