@import '../assets/vars';

body {
  background-color: $iconDark;
}

.divider {
  padding: 20px 0;
  font-size: 14px;
  font-weight: $bold;
}

.registered {
  display: none;
}

.auth {
  &-wrapper {
    height: $defHeight;
    width: 100%;
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background-color: $mainBg;
    font-size: 20px;
    padding: 15px 20px;
  }
  &-title {
    font-size: 28px;
    padding-bottom: 25px;
    color: $textDark;
    text-align: center;
  }
  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }
}

.input-wrapper {
  margin-bottom: 30px;
}

@media screen and (min-width: $maxWidth) and (min-height: 710px) {
  .auth {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-body {
      padding: 35px 25px;
      width: 500px;
      height: auto;
      max-height: 750px;
      border-radius: $appBorderRadius;
      box-shadow: 0 0 20px 0 $dark-25;
    }
    &-title {
      padding-bottom: 40px;
    }
  }
  .input-wrapper {
    margin-bottom: 40px;
  }
}
