@media screen and (min-width: $maxWidth) {
  .wrapper {
    border-top-left-radius: $appBorderRadius;
    border-top-right-radius: $appBorderRadius;
    margin: 50px auto 0;
  }

  .banner {
    border-top-left-radius: $appBorderRadius;
    border-top-right-radius: $appBorderRadius;
  }

  .main-body {
    padding: 20px 50px 70px;
  }

  .btn {
    width: 75px;
    height: 75px;
    margin-right: 30px;
    box-shadow: 0 0 10px 0px $dark-35;
    opacity: 0.87;

    & > i {
      font-size: $xxlFontSize;
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 15px 3px $dark-35;
      opacity: 1;
    }
  }
}
